<div class="content-wrapper">
  <section id="about" class="full-height px-lg-5">
    <div class="container">
      <div class="row pb-4">
        <div class="col-lg-8">
          <h4 class="text-brand">ABOUT</h4>
          <h1>My Education and Expirence</h1>
        </div>
      </div>
      <div class="row gy-5">
        <div class="col-lg-6">
          <h3 class="text-brand mb-4">Education</h3>
          <div class="row gy-4">
            <div class="col-12">
              <div class="card bg-dark p-4 rounded-4">
                <h4>Bachelor of Technology</h4>
                <p class="text-brand mb-2">
                  B V Raju Institute of Technology (2018-2022)
                </p>
                <p class="text-brand mb-2">Branch : ECE</p>
                <hr class="text-brand" />
                <h4 class="custom">CGPA : 9.00</h4>
              </div>
            </div>
            <div class="col-12">
              <div class="card bg-dark p-4 rounded-4">
                <h4>Intermediate</h4>
                <p class="text-brand mb-2">
                  Narayana Junior College (2016–2018)
                </p>
                <p class="text-brand mb-2">Branch : MPC</p>
                <hr class="text-brand" />
                <h4 class="custom">Marks : 949</h4>
              </div>
            </div>
            <div class="col-12">
              <div class="card bg-dark p-4 rounded-4">
                <h4>SSC</h4>
                <p class="text-brand mb-2">Cyber Age Pupils School (2016)</p>
                <hr class="text-brand" />
                <h4 class="custom">CGPA : 9.70</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="text-brand mb-4">Experience</h3>
          <div class="row gy-4">
            <div class="col-12">
              <div class="card bg-dark p-4 rounded-4">
                <h4>Software Engineer Trainee</h4>
                <p class="text-brand mb-2">
                  Persistent Systems (02/2022–07/2022)
                </p>
                <hr class="text-brand" />
                <h5 class="custom">Intern</h5>
              </div>
            </div>
            <div class="col-12">
              <div class="card bg-dark p-4 rounded-4">
                <h4>Software Engineer</h4>
                <p class="text-brand mb-2">
                  Persistent Systems (07/2022-CURRENT)
                </p>
                <hr class="text-brand" />
                <h4 class="custom"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
