<div class="content-wrapper">
  <section id="contact" class="full-height px-lg-5">
    <div class="container">
      <div class="row pb-4">
        <div class="col-lg-8">
          <h4 class="text-brand">Contact</h4>
        </div>
      </div>
      <span class="shadow bg-dark p-3">
        <i class="fab fa-linkedin fa-2x"></i>
        <a
          href="https://www.linkedin.com/in/aadesh-harish-shetty"
          target="_blank"
          >www.linkedin.com/in/aadesh-harish-shetty</a
        >
      </span>
      <span class="shadow bg-dark p-3">
        <i class="fab fa-github fa-2x"></i>
        <a href="https://www.github.com/aadeshshetty" target="_blank"
          >www.github.com/aadeshshetty</a
        >
      </span>
      <span class="shadow bg-dark p-3">
        <i class="fab fa-twitter fa-2x"></i>
        <a href="https://www.twitter.com/HarishAadesh" target="_blank"
          >www.twitter.com/HarishAadesh</a
        >
        
      </span>
      <span class="shadow bg-dark p-3">
        <i class="fas fa-envelope fa-2x"></i>
        <a
          href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSPFdJllJlgxrZbrpfRQdrldSTSTnRwlrxHfZsflCFsScgtmqCNdCjSSCLnCQBXzvWhnwlbW"
          target="_blank"
          >aadeshshetty123@gmail.com</a
        >
      </span>
    </div>
  </section>
</div>
