<div class="content-wrapper">
  <section id="work" class="full-height px-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h4 class="text-brand">WORK</h4>
        </div>
      </div>
      <div class="row pt-1 pb-4">
        <div class="col-lg-6 py-4">
          <div class="card rounded-4 bg-dark">
            <a
              href="https://exam-portal-webapp.herokuapp.com/login"
              target="_blank"
            >
              <img
                src="../../assets/images/Screenshot 2022-11-04 183148.png"
                class="img-fluid card-img-top rounded-4"
                alt=""
              />
            </a>
            <div class="card-body p-4">
              <h4 class="card-text">Examportal</h4>
              <p class="card-text">
                Examportal is built on Springboot and Angular.Admin can add
                different categories, quizzes and normal user can take these
                quizzes and download their report.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 py-4">
          <div class="card rounded-4 bg-dark">
            <a href="https://notes-623473.netlify.app/" target="_blank">
              <img
                src="../../assets/images/Screenshot (28).png"
                class="img-fluid card-img-top rounded-4"
                alt=""
              />
            </a>
            <div class="card-body p-4">
              <h4 class="card-text">Notes</h4>
              <p class="card-text">
                Notes WebApp is built using HTML,CSS,Javascript. It uses
                localstorage to store the data in Notes in JSON format.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row py-4">
        <!-- <div class="col-lg-6 py-4">
          <div class="card rounded-4 bg-dark">
            <img
              src="../../assets/images/person4.jpg"
              class="card-img-top rounded-4"
              alt=""
            />
            <div class="card-body p-4">
              <h4 class="card-text">Restaurant Website</h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid, iusto!
              </p>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-lg-6 py-4">
          <div class="card rounded-4 bg-dark">
            <img
              src="../../assets/images/person4.jpg"
              class="card-img-top rounded-4"
              alt=""
            />
            <div class="card-body p-4">
              <h4 class="card-text">Work 1</h4>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aliquid, iusto!
              </p>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>
</div>
