<div class="content-wrapper">
  <section id="skills" class="full-height px-lg-5">
    <div class="container">
      <div class="row pb-4">
        <div class="col-lg-8">
          <h5 class="text-brand">SKILLS</h5>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <h4 class="card-title text-center">Java</h4>
              <p class="card-text text-center">
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <h4 class="card-title text-center">Spring Boot</h4>
              <p class="card-text text-center">
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <h4 class="card-title text-center">HTML</h4>
              <p class="card-text text-center">
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <h4 class="card-title text-center">CSS</h4>
              <p class="card-text text-center">
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star-half-alt"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <h4 class="card-title text-center">Javascript</h4>
              <p class="card-text text-center">
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <h4 class="card-title text-center">Angular</h4>
              <p class="card-text text-center">
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star-half-alt"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <h4 class="card-title text-center">Python</h4>
              <p class="card-text text-center">
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-dark">
            <div class="card-body">
              <h4 class="card-title text-center">MySQL</h4>
              <p class="card-text text-center">
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star clicked"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
