<div class="content-wrapper">
  <section id="home" class="full-height px-lg-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h1 class="display-4 fw-bold">
            <span class="text-brand">Aadesh Shetty</span>
          </h1>
          <p class="lead mt-2 mb-20">I am a Full Stack Web Developer.</p>
          <a routerLink="/work" class="btn btn-goldenrod me-3"
            >Explore My Work</a
          >
          <h5 style="display: inline" class="me-2">Call:</h5>
          <a class="custom">9849819822</a>
        </div>
      </div>
    </div>
  </section>
</div>
